<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(~{::title},~{::section})}">
    <title>My Page | BROMWELL</title>
</head>

<body>

<section class="checkout spad">
    <div class="container">
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-lg-8 col-md-8 col-sm-8"></div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="shop__product__option__right">
                    <form th:object="${memberSearch}" method="get">
                        <div class="checkout__input">
                            <input type="text" id="email" th:field="*{email}" placeholder="이메일">
                            <input type="text" id="name" th:field="*{name}" placeholder="이름">
                        </div>
                        <button type="submit" class="site-btn">검색</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-md-8 m-auto">
                <h2 class="checkout__title mb-3">회원 조회</h2>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>이메일</th>
                        <th>회원명</th>
                        <th>회원등급</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="member : ${members}">
                        <td th:text="${member.id}"></td>
                        <td th:text="${member.email}"></td>
                        <td th:text="${member.name}"></td>
                        <td th:text="${member.grade}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Footer Section Begin -->
<footer th:replace="~{fragments/footer::footer}"></footer>
</body>

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>

</html>