<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(~{::title},~{::section})}">
    <title>NOTICE | BROMWELL</title>
</head>

<body>

<section class="checkout spad">
    <div class="container">
        <div class="row" style="margin-bottom: 30px;">
            <div class="col-lg-6 col-md-6 col-sm-6"></div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="shop__product__option__right">
                    <button type="button" class="site-btn" th:if="${manager}"
                            th:onclick="|location.href='@{/notice/save}'|">공지사항 등록</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-md-8 m-auto">
                <h2 class="checkout__title mb-3">공지사항</h2>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>제목</th>
                        <th>작성자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="notice : ${notices}">
                        <td><a th:href="@{/notice/{postId}(postId=${notice.id})}" th:text="${notice.title}"></a></td>
                        <td th:text="${notice.member.name}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Footer Section Begin -->
<footer th:replace="~{fragments/footer::footer}"></footer>
</body>

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>

</html>