<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(~{::title},~{::section})}">
    <title>MAGAZINE | BROMWELL</title>
</head>

<body>

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <div class="row">
                <div class="col-lg-8 col-md-6 m-auto">
                    <h3 class="checkout__title mb-3">매거진 등록</h3>
                    <form action="/magazine/save" th:action th:object="${postDto}" method="post" enctype="multipart/form-data">

                        <div class="checkout__input">
                            <p>제목<span>*</span></p>
                            <p><span th:errors="*{title}" /></p>
                            <input type="text" id="title" th:field="*{title}">
                        </div>

                        <div class="checkout__input">
                            <p>본문<span>*</span></p>
                            <p><span th:errors="*{content}" /></p>
                            <textarea id="content" th:field="*{content}" rows="10" cols="83"></textarea>
                        </div>

                        <div class="form-group" style="margin-top: 30px;">
                            <div class="checkout__input"><p>사진</p></div>
                            <p><span th:errors="*{picture}" /></p>
                            <input type="file" id="picture" th:field="*{picture}" accept="image/*">
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6" style="text-align: right;">
                                <div style="margin-top: 100px; margin-bottom: 150px;">
                                    <button type="submit" class="site-btn">등록</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer Section Begin -->
<footer th:replace="~{fragments/footer::footer}"></footer>
</body>

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.nicescroll.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>

</html>